# ==========================================
# HOSTS Y PUERTOS
# ==========================================

# Host local para desarrollo
LOCAL_HOST=1.1.1.1

# Host remoto para producción/servidor
REMOTE_HOST=1.1.1.1

# Puertos de aplicaciones locales
SUITE_PORT=1111
COSTOS_PORT=1112
REPORTE_OPS_PORT=1113

# Puertos de aplicaciones remotas
REPORTE_EXPEDICION_PORT=1114
